.container
  .row
    .col-sm-6.col-sm-offset-3
      .page-header
        %h1
          Hello!
          %span.emj &#x1F603;

      %p
        A <strong>What's Up Document</strong> helps you discern the most impactful
        thing you could be doing.

      %p
        %u Step 1:
        %strong Enter things
        you could do.

      %p
        %u Step 2:
        %strong Rank
        your things from highest to lowest impact.

      %p
        %u Step 3:
        %strong Rank
        your things from easiest to hardest to implement.

      %p
        %u Step 4:
        %strong Profit!
        See your things on a four-quadrant graph, and
        %em start working on what's up and to the right!

      %h3 Let's get started

      = render 'form'
