/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require scss/font-awesome
 *= require_tree .
 *= require_self
 */

/*
EmojiSymbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/
@font-face {
  font-family: "EmojiSymbols";
  src: url('EmojiSymbols-Regular.woff') format('woff');
  text-decoration: none;
  font-style: normal;
}
.emj {
  font-family: "EmojiSymbols";
  line-height: 1;
}

.alert-thumb-success {
  font-size: 34px;
  padding: 5px;
  color: #66ca68;
}
