@import "bootstrap-variables.scss";

body.docs {
  margin-bottom: 50px;

  .page-header a.btn {
    padding: 0;
  }

  #navbar h3 {
    color: #eeeeee;
  }

  .item-list .fa-ellipsis-v {
    color: #eee;
    position: relative;
    left: -5px;
  }

  #doc-steps .nav.nav-pills {
    // we're trying to hide these visually, but the JS library needs them to be
    // on the page (and not simply hidden)...
    pointer-events: none;

    li.active > a, li > a:hover, li > a:focus {
      background-color: transparent;
    }
  }

  .navbar {
    &.navbar-clear .wizard li.disabled {
      .btn, .btn:hover, .btn:focus {
        color: #999;
      }
    }
    &.navbar-inverse .wizard li.disabled {
      .btn, .btn:hover, .btn:focus {
        color: #666;
      }
    }

    &.navbar-clear .navbar-left {
      margin-left: -15px;
    }
  }

  .sortable .item {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    padding-right: 60px; // for the move buttons

    &:hover {
      .fa-ellipsis-v {
        color: #bbb;
      }
    }

    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
  }

  .not-editable {
    input {
      cursor: default;
      border: none;
      box-shadow: none;
      background-color: transparent;
      padding: 0;
    }
  }

  .btn-edit {
    position: absolute;
    right: 10px;
    top: 10px;
    &.active {
      background-color: #f9f9f9;
    }
  }

  .items .content-container  {
    margin-right: 50px;
  }

  .move-item-buttons {
    position: absolute;
    right: 5px;
    top: 5px;

    a, a:visited { color: #eee }
    a:hover {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  }

  @media only screen and (min-width: $screen-xs-max) {
    .tab-pane { height: 460px; }
  }

  @media only screen and (max-width: $screen-xs-max) {
    // https://github.com/twbs/bootstrap/issues/2159
    font-size: 16px;
    .form-control {
      font-size: 16px;
    }
  }
}

