@import "bootstrap-variables.scss";

body.docs {
  margin-bottom: 50px;

  .page-header a.btn {
    padding: 0;
  }

  #navbar h3 {
    color: #eeeeee;
  }

  .sorted-list .fa-ellipsis-v {
    color: #eee;
    position: relative;
    left: -5px;
  }

  .navbar {
    &.navbar-clear .wizard li.disabled {
      .btn, .btn:hover, .btn:focus {
        color: #999;
      }
    }
    &.navbar-inverse .wizard li.disabled {
      .btn, .btn:hover, .btn:focus {
        color: #bbb;
      }
    }

    &.navbar-clear .navbar-left {
      margin-left: -15px;
    }
  }
}
